# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List some of the most popular programming languages
- List libraries used by data scientists
- Demonstrate how to perform simple arithmetic in Python

Some of the popular languages that Data Scientists use are:
    
    1. R
    2. Python
    3. Julia
    4. C
    5. C++
    6. JavaScript
    7. Scala

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Seaborn
    3. NumPy
    4. Pytorch

Data Science Tools |
------------------
JupiterNotebook|
Rstudio|
Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author

Dessie Fitzgerald